.search {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.Tsearch {
  height: 34px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  width: 50%;
}

.sButton {
  height: 35px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border-radius: 4px;
  margin-left: -8px;
  padding: 5px 12px;
}

.category {
  height: 34px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  /* margin-left: 2%; */
  float: right;
}

.check {
  position: relative;
  background: rgb(250, 250, 250);
  margin: 15px 0px;
  padding: 12px;
  height: 100px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.contentLeft2 {
  display: inline-block;
  width: 60%;
}

.contentRight {
  margin-right: 8px;
  display: inline-block;
  width: 23%;
  float: right;
  text-align: right;
  font-size: 14px;
  padding-top: 22px;
  font-size: 15px;
  color: #3a4b53;
}

.contentRight2 {
  display: inline-block;
  width: 36%;
  float: right;
  text-align: right;
  padding-top: 23px;
  font-size: 15px;
  color: #3a4b53;
}

#progressbar_tot {
  margin-top: 15px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  /* width: 80%; */
}

#progressbar_tot>div {
  background-color: #3a4b53;
  border-radius: 10px;
}

.prog_text_tot {
  margin: 0;
  line-height: 13px;
  font-size: 10px;
  text-align: center;
  color: rgb(250, 250, 250);
}

#allBoard {
  display: none;
  overflow: auto;
}

.a-no-style, .a-no-style:hover, a-no-style:visited, a-no-style:active{
	color: inherit;
 	text-decoration: inherit;
}

.w3-block{
	height: 40px;
}
.loginbtn {
	float: none !important;
	background: #4d626f;
	color: white;
	width:200px;
	border-radius: 5px;
}
.loginbtn:hover {
	background: #7d97a5 !important;
	color: black;
}